<div class="menu-link" routerLinkActive="active">
  <a routerLink="/timelog-day" routerLinkActive="active">
    <i class="material-icons-round">schedule</i>
    <span>Home</span>
  </a>
</div>
<div class="menu-link" routerLinkActive="active">
  <a routerLink="/timelog-day" routerLinkActive="active">
    <i class="material-icons-round">schedule</i>
    <span>Log in</span>
  </a>
</div>
<div class="menu-link" routerLinkActive="active">
  <a routerLink="/timelog-day" routerLinkActive="active">
    <i class="material-icons-round">schedule</i>
    <span>Sign up</span>
  </a>
</div>
<div class="menu-link" routerLinkActive="active">
  <a routerLink="/timelog-day" routerLinkActive="active">
    <i class="material-icons-round">schedule</i>
    <span>Log out</span>
  </a>
</div>
