.menu-link {
  margin: 5px auto;
  text-align: center;
}


.active
  span, i {
    color: #109CF1;
  }

a
{
  color: black;
  text-decoration: none}

// a:hover{
//   color: #109CF1}
//   i, span
//     {color: #109CF1}

