<div class='signup'>
  <mat-card class='signup__menu'>
    <h4>Sign Up</h4>
    <form class="signup__form" [formGroup]='signupForm'>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName='nameControl'>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName='passwordControl' [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm the password" formControlName='confirmPasswordControl'
          appConfirmEqualValidator='passwordControl' [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email or Phone" formControlName='EmailPhoneControl'>
      </mat-form-field>

    </form>
    <button mat-button color="primary" (click)="registerUser()" [disabled]="signupForm.invalid">Sign
      Up</button>
  </mat-card>
</div>
