mat-toolbar {
  height: 10vh;
}
  .header {
    display: flex;
    justify-content: space-between
  }
    .header__logo {
      margin: auto 10px;
      font-family: Open Sans, sans-serif;
      font-weight: 600;
      font-size: 26px;
      line-height: 25px;
    }

    .header__menu {
      margin: auto 10px;
    }

.mat-icon {
  margin-left: 15px;
  color: #ffffff;
}
.header__logo-icon {
  color: aqua;
}
