<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <h1 class="header__logo">
      <mat-icon class="header__logo-icon">
        language
      </mat-icon>Encata
    </h1>
    <div class="header__menu">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">how_to_reg</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">input</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">exit_to_app</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
