<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <h1 class="header__logo">
      <mat-icon class="header__logo-icon">
        language
      </mat-icon>Encata
    </h1>
    <div class="header__menu">
      <a routerLink="/login" *ngIf='currentUser.name==="Guest"'>
        <mat-icon class="header__menu-icon">how_to_reg</mat-icon>
      </a>
      <a routerLink="/login" *ngIf='currentUser.name==="Guest"'>
        <mat-icon class="header__menu-icon">input</mat-icon>
      </a>
      <a routerLink="/login" *ngIf='currentUser.name!=="Guest"'>
        <mat-icon class="header__menu-icon">exit_to_app</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
